<section id="sobre_mi" class="stick padding-section grey-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <header>
          <h2>Sobre <span class="mano-alzada">mí</span></h2>
        </header>
        <div class="divider"></div>
        <q>
          Puede que en principio no sepa hacer algo, pero ten por seguro que en poco tiempo aprenderé cómo se hace
        </q>
        <p>
          Hola, soy Sonia Villa.
        </p>
        <p>
          Tras varios años trabajando en puestos de gestión (primero en Londres y después en Madrid), principalmente en
          departamentos de desarrollo, me picó el gusanillo y me pasé al otro lado.
        </p>
        <p>
          Comencé echando una mano en tareas sencillas y aprendiendo de forma autodidacta, pero, a medida que me iba enganchando,
          decidí realizar cursos de formación para poder ir asumiendo tareas más complejas.
        </p>
        <p>
          Casi quince años después, tras infinitas horas frente al ordenador, muchos cursos a mis espaldas y dos carreras,
          trabajo como desarrolladora web en una <i>startup</i>.
        </p>
        <p>
          Soy adicta a la lectura, a las series y al chocolate y, para "desestresarme", juego al baloncesto, nado o hago ganchillo.
        </p>
        <p>
          Hace un par de años descubrí la robótica y también hago mis pinitos con Arduino. Próximo objetivo: aprender Phython.
        </p>
      </div>
      <div class="col-md-6 col-sm-6 img_programming">
        <img src="assets/img/graphic/programming.svg" alt="Programador">
      </div>
    </div>
  </div>
</section>
