<section id="about_me" class="stick padding-section grey-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <header>
          <h2>About <span class="hand-written">me</span></h2>
        </header>
        <div class="divider"></div>
        <q>
          I may not know how to do something at first, but rest assured that I will learn how to do it in short
        </q>
        <p>
          Hi, I'm Sonia Villa.
        </p>
        <p>
          After several years working in management positions (first in London and afterwards in Madrid), mainly in development departments, I changed my mind and decided to join the developers crew.
        </p>
        <p>
          At the beginning, I only used to help out with simple tasks and learn in a self-taught way, but after a while, I started taking training courses to be able to carry out more complex tasks.
        </p>
        <p>
          Almost fifteen years later, after endless hours in front of the computer, many courses taken and two careers, I work as a web developer in a startup.
        </p>
        <p>
          I am addicted to reading, to the T.V. series and to chocolate and, in order to relax, I play basketball, go swimming or crochet <i>amigurumis</i>.
        </p>
        <p>
          A couple of years ago I discovered robotics and also do my first steps with Arduino. Next goal: learn Python.
        </p>
      </div>
      <div class="col-md-6 col-sm-6 img_programming">
        <img src="assets/img/graphic/programming.svg" alt="Programmer">
      </div>
    </div>
  </div>
</section>
