<nav class="menu">
  <a [routerLink]="['/projects']"><img src="assets/img/basic/logo.svg" alt="Logo"></a>
  <a [routerLink]="['/']" class="menu-trigger">&#9776;</a>
  <ul>
    <li>
      <a
        [routerLink]="['/projects']"
        fragment="projects"
        class="move"
        data-nivel="#projects">
        <i class="fas fa-code-branch"></i>
        Projects
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/skills']"
        fragment="skills"
        class="move"
        data-nivel="#skills_main">
        <i class="far fa-lightbulb"></i>
        Skills
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/about_me']"
        fragment="about_me"
        class="move"
        data-nivel="#about_me">
        <i class="fas fa-street-view"></i>
        About me
      </a>
    </li>
    <li>
      <a href="assets/docs/cv_SoniaVilla_en.pdf" download="CV.pdf">
        <i class="far fa-file-pdf"></i>
        CV
      </a>
    </li>
  </ul>
</nav>
