<main class="stick project animated fadeIn">
  <div *ngIf="project">
    <section class="grey-section">
      <!-- assets/img/projects/{{ code }}/main.png -->
      <div
        [ngStyle]="{ 'background-image':'url(assets/img/projects/'+ code +'/main.png)' }"
        class="row cover_img">
        <header>
          <h1>{{ project.title }}</h1>
          <h2>{{ project.tech }}</h2>
        </header>
      </div>
    </section>

    <section class="padding-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <header>
              <h2>{{ project.remark }} <span class="mano-alzada">{{ project.subtitle }}</span></h2>
            </header>
            <div class="divider"></div>
            <p>{{ project.desc1 }}</p>
            <p>{{ project.desc2 }}</p>
            <p class="git">
              <i class="fab fa-github"></i><a href="/">https://github.com/Social-Mean</a>
            </p>
          </div>
          <div class="col-md-6 col-sm-6">
            <img src="assets/img/projects/{{ code }}/pic-1.png" alt="Imagen {{ project.title }}">
          </div>
        </div>
      </div>
    </section>

    <section class="grey-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 content_centered">
            <img src="assets/img/projects/{{ code }}/main.png" alt="Imagen {{ project.title }}">
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
