<section id="proyectos" class="stick padding-section grey-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <header>
          <h2>Últimos <span class="mano-alzada">proyectos</span></h2>
          <div class="divider"></div>
        </header>
      </div>
    </div>

    <div *ngIf="_ps.projects.length > 0" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-5">
      <a *ngFor="let project of _ps.projects"
        href="item1.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/{{ project.url1 }}" alt="Imagen {{ project.title }}">
        <div class="item-meta">
          <h2>{{ project.title }}</h2>
          <p>{{ project.tech }}</p>
        </div>
      </a>
    </div>
  </div>
</section>
