<section id="proyectos" class="stick padding-section grey-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <header>
          <h2>Últimos <span class="mano-alzada">proyectos</span></h2>
          <div class="divider"></div>
        </header>
      </div>
    </div>

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-5">
      <a href="item1.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-1.png" alt="">
        <div class="item-meta">
          <h2>Red Social MEAN</h2>
          <p>MongoDB, Express.js, Angular y Node.js</p>
        </div>
      </a>

      <a href="item2.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-2.png" alt="">
        <div class="item-meta">
          <h2>Vodafone Friends</h2>
          <p>Ionic, Sass</p>
        </div>
      </a>

      <a href="item3.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-3.png" alt="">
        <div class="item-meta">
          <h2>My Diabetic Alert</h2>
          <p>HTML, CSS, JavaScript, JQuery</p>
        </div>
      </a>

      <a href="item4.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-4.png" alt="">
        <div class="item-meta">
          <h2>StoreApp</h2>
          <p>Angular, Firebase, Angular Material, Sass</p>
        </div>
      </a>

      <a href="item5.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-5.png" alt="">
        <div class="item-meta">
          <h2>SpotiApp</h2>
          <p>Angular, Bootstrap</p>
        </div>
      </a>

      <a href="item6.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-6.png" alt="">
        <div class="item-meta">
          <h2>mHealth Alert</h2>
          <p>HTML, CSS, JavaScript, JQuery</p>
        </div>
      </a>

      <a href="item7.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-7.png" alt="">
        <div class="item-meta">
          <h2>MoviesApp</h2>
          <p>Angular, Firebase, JSONP, Bootstrap</p>
        </div>
      </a>

      <a href="item8.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-8.png" alt="">
        <div class="item-meta">
          <h2>WishList</h2>
          <p>Ionic, Sass</p>
        </div>
      </a>

      <a href="item9.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-9.png" alt="">
        <div class="item-meta">
          <h2>Menuterraneo</h2>
          <p>HTML, CSS, JavaScript, JQuery</p>
        </div>
      </a>

      <a href="item10.html" class="rk-item ae-masonry__item">
        <img src="assets/img/projects/project-10.png" alt="">
        <div class="item-meta">
          <h2>Firechat</h2>
          <p>Angular, Firebase</p>
        </div>
      </a>
    </div>
  </div>
</section>
