<section id="skills_main" class="stick">
  <div id="skills_intro" class="padding-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header>
            <h2>Web <span class="hand-written">development</span></h2>
            <div class="divider"></div>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <article>
            <h5>
              <i class="fas fa-desktop"></i>
              <i class="fas fa-tablet-alt"></i>
              <i class="fas fa-mobile-alt"></i>
              Responsive <span class="hand-written">web design</span>
            </h5>
            <p>
              Reduces the cost of development and maintenance of apps significantly, compared to other solutions, such as native apps.
            </p>
          </article>
        </div>

        <div class="col-md-4">
          <article>
            <h5>
              <i class="fas fa-code"></i>
              Semantic <span class="hand-written">web</span>
            </h5>
            <p>
              Users find answers to their questions easily and quickly thanks to better defined information.
            </p>
          </article>
        </div>

        <div class="col-md-4">
          <article>
            <h5>
              <i class="fas fa-hand-point-up"></i>
              Usability</h5>
            <p>
              User-centered design, which makes possible for users to interact with apps in an easier, more comfortable and intuitive way.
            </p>
          </article>
        </div>

        <div class="col-md-4">
          <article>
            <h5>
              <span class="icon w3c">Accessibility</span>
            </h5>
            <p>
              Allows people with disabilities or with different needs to perceive, understand, navigate and interact with the Web.
            </p>
          </article>
        </div>

        <div class="col-md-8">
          <article>
            <h5>
              <i class="fab fa-firefox"></i>
              <i class="fab fa-chrome"></i>
              <i class="fab fa-internet-explorer"></i>
              <i class="fab fa-safari"></i>
              <i class="fab fa-opera"></i>
              Cross-browser <span class="hand-written">compatibility</span>
            </h5>
            <p>
              Apps are displayed in a very similar way in all browsers. To achieve this, the development is done in compliance with web standards, so that any current or future browser that meets these standards will display the pages correctly.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>

  <div id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="0">
              <i class="fab fa-earlybirds"></i>
              <div class="numero">> 15</div>
              <h5>Years of experience</h5>
            </article>
        </div>

        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="200">
              <i class="fas fa-code-branch"></i>
              <div class="numero">> 50</div>
              <h5>Fulfilled projects</h5>
            </article>
        </div>

        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="400">
              <i class="fab fa-usb"></i>
              <div class="numero">> 20</div>
              <h5>Technologies used</h5>
            </article>
        </div>

        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="600">
              <i class="far fa-file-code"></i>
              <div class="numero numero_big">&infin;</div>
              <h5>Lines of code</h5>
            </article>
        </div>
      </div>
    </div>
  </div>

  <div id="skills_programming" class="padding-section grey-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <header>
            <h2>Technologies</h2>
          </header>
          <div class="divider"></div>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>ES6</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>JQuery</li>
            <li>PHP</li>
            <li>WordPress</li>
            <li>Git</li>
            <li>Bootstrap</li>
            <li>Sass</li>
            <li>Ionic</li>
            <li>Node</li>
          </ul>
        </div>
        <div id="tech" class="col-md-6 col-sm-6">
          <img src="assets/img/graphic/tech.svg" alt="Technologies" class="animated reveal" data-delay="400">
        </div>
      </div>
    </div>
  </div>

  <div id="skills_description" class="padding-section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <header>
            <h2>Adobe <span class="hand-written">tools</span></h2>
            <div class="divider"></div>
          </header>
        </div>

        <div class="col-md-4 col-sm-6 claimbar">
            <img src="assets/img/graphic/adobe_logo.svg" alt="Adobe Logo">
        </div>

        <div class="col-md-8 col-sm-6 barras reveal">
          <p>Photoshop <span class="pull-right">100</span></p>
          <div class="progress100"></div>

          <p>Illustrator <span class="pull-right">100</span></p>
          <div class="progress100"></div>

          <p>Premiere <span class="pull-right">80</span></p>
          <div class="progress80"></div>

          <p>After Effects <span class="pull-right">70</span></p>
          <div class="progress70"></div>
        </div>
      </div>
    </div>
  </div>
</section>
