<section id="conocimientos" class="stick">
  <div id="skills_intro" class="padding-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header>
            <h2>Desarrollo <span class="mano-alzada">web</span></h2>
            <div class="divider"></div>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <article>
            <h5>
              <i class="fas fa-desktop"></i>
              <i class="fas fa-tablet-alt"></i>
              <i class="fas fa-mobile-alt"></i>
              Diseño <span class="mano-alzada">multidispositivo</span>
            </h5>
            <p>
              Reduce significativamente el coste de desarrollo y mantenimiento de las aplicaciones frente a otras soluciones, como pueden
              ser las aplicaciones nativas.
            </p>
          </article>
        </div>

        <div class="col-md-4">
          <article>
            <h5>
              <i class="fas fa-code"></i>
              Web <span class="mano-alzada">semántica</span>
            </h5>
            <p>
              Los usuarios encuentran respuestas a sus preguntas de forma sencilla y rápida gracias a una información mejor definida.
            </p>
          </article>
        </div>

        <div class="col-md-4">
          <article>
            <h5>
              <i class="fas fa-hand-point-up"></i>
              Usabilidad</h5>
            <p>
              Diseño centrado en el usuario, que hace posible que éste pueda interactuar con las aplicaciones de forma más fácil, cómoda e intuitiva.
            </p>
          </article>
        </div>

        <div class="col-md-4">
          <article>
            <h5>
              <span class="icon w3c">Accesibilidad</span>
            </h5>
            <p>
              Permite que personas con discapacidad o con distintas necesidades puedan percibir, entender, navegar e interactuar con la Web,
              aportando a su vez contenidos.
            </p>
          </article>
        </div>

        <div class="col-md-8">
          <article>
            <h5>
              <i class="fab fa-firefox"></i>
              <i class="fab fa-chrome"></i>
              <i class="fab fa-internet-explorer"></i>
              <i class="fab fa-safari"></i>
              <i class="fab fa-opera"></i>
              Compatible <span class="mano-alzada">con todos los navegadores</span>
            </h5>
            <p>
              Las aplicaciones se muestran de forma muy similar en todos los navegadores. Para ello se realiza el desarrollo cumpliendo los
              estándares web, de forma que cualquier navegador actual o futuro que cumpla estos estándares mostrará las páginas correctamente.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>

  <div id="skills">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="0">
              <i class="fab fa-earlybirds"></i>
              <div class="numero">> 15</div>
              <h5>Años de experiencia</h5>
            </article>
        </div>

        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="200">
              <i class="fas fa-code-branch"></i>
              <div class="numero">> 50</div>
              <h5>Proyectos realizados</h5>
            </article>
        </div>

        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="400">
              <i class="fab fa-usb"></i>
              <div class="numero">> 20</div>
              <h5>Tecnologías empleadas</h5>
            </article>
        </div>

        <div class="col-lg-3 col-md-6 elemento">
          <article class="marco reveal" data-delay="600">
              <i class="far fa-file-code"></i>
              <div class="numero numero_big">&infin;</div>
              <h5>Líneas de código</h5>
            </article>
        </div>
      </div>
    </div>
  </div>

  <div id="skills_programming" class="padding-section grey-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <header>
            <h2>Tecnologías</h2>
          </header>
          <div class="divider"></div>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>ES6</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>JQuery</li>
            <li>PHP</li>
            <li>WordPress</li>
            <li>Git</li>
            <li>Bootstrap</li>
            <li>Sass</li>
            <li>Ionic</li>
            <li>Node</li>
          </ul>
        </div>
        <div id="tech" class="col-md-6 col-sm-6">
          <img src="assets/img/graphic/tech.svg" alt="Tecnologías" class="animated reveal" data-delay="400">
        </div>
      </div>
    </div>
  </div>

  <div id="skills_description" class="padding-section border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <header>
            <h2>Herramientas <span class="mano-alzada">Adobe</span></h2>
            <div class="divider"></div>
          </header>
        </div>

        <div class="col-md-4 col-sm-6 claimbar">
            <img src="assets/img/graphic/adobe_logo.svg" alt="Logo Adobe">
        </div>

        <div class="col-md-8 col-sm-6 barras reveal">
          <p>Photoshop <span class="pull-right">100</span></p>
          <div class="progress100"></div>

          <p>Illustrator <span class="pull-right">100</span></p>
          <div class="progress100"></div>

          <p>Premiere <span class="pull-right">80</span></p>
          <div class="progress80"></div>

          <p>After Effects <span class="pull-right">70</span></p>
          <div class="progress70"></div>
        </div>
      </div>
    </div>
  </div>
</section>
